{% set page = {
  nextLink: {
    url: 'where-are-you-now'
  }
} %}

{% extends page.layout.file | d(layouts['modzero']) %}

{#

  You could override the emergenices list with an entirely bespoke chunk of html if you wish
  {% block custom_emergencies %}{% endblock custom_emergencies %}

  or you could simply replace or append to the list by adding emergencies to the page object

  emergencies: {
    append: true,
    items: [
      {
        condition: 'signs of a stroke',
        description: 'face dropping on one side, difficulty speaking'
      }
    ]
  }

#}
